<%- include('./partials/header') %>
<link href="/css/select2.min.css" rel="stylesheet" />
<link href="/css/profile.css" rel="stylesheet" />
<%- include('./partials/file-start') %>
<%- include('./partials/menu') %>
<main role="main" class="inner cover mt-5">
    <h1 class="cover-heading"><%= title %></h1>
    <div class="container emp-profile">
        <div class="row mt-4 mr-2 mb-4">
            <div class="col">
                <div class="profile-head mb-3">
                    <h5>
                        <%= req.session.user.name.first %>
                        <%= req.session.user.name.middle %>
                        <%= req.session.user.name.last %>
                    </h5>
                    <h6>
                        <% if (req.session.user.type === 'student') { %>
                        Student(ka)
                        <% } else if (req.session.user.type === 'guarantor') { %>
                            Garant(ka)
                        <% } else if (req.session.user.type === 'consultant') { %>
                            Konzultant(ka)
                        <% } else if (req.session.user.type === 'admin') { %>
                        Administrátor(ka)
                        <% }%>
                    </h6>
                </div>
                <hr>
                <div class="row mt-3">
                    <div class="col-md-6 text-right">
                        <label class="text-dark">Uživatelské ID</label>
                    </div>
                    <div class="col-md-6 text-left">
                        <p class="text-secondary"><%= req.session.user._id %></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label class="text-dark">Email</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="email" placeholder="Zadejte svůj email"
                                value="<%= req.session.user.email %>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label class="text-dark">Křestní jméno</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="firstname"
                                placeholder="Zadejte svoje křestní jméno" value="<%= req.session.user.name.first %>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label class="text-dark">Prostřední jméno</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="middlename"
                                placeholder="Zadejte svoje prostřední jméno"
                                value="<%= req.session.user.name.middle %>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label class="text-dark">Příjmení</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="lastname" placeholder="Zadejte svoje příjmení"
                                value="<%= req.session.user.name.last %>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label class="text-dark">Specializace</label>
                    </div>
                    <div class="col-md-6 text-left">
                        <div class="form-group">
                            <label class="text-dark">
                                <% if (req.session.user.specialization === null || req.session.user.specialization === undefined) { %>
                                    Žádná
                                <% } else { %>
                                    <%= req.session.user.specialization.name %>
                                <% } %>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" id="edit-profile" class="btn btn-dark m-auto">Upravit profil</button>
                        <div class="form-group mx-auto mt-4" id="edit-profile-status" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="cover-heading">Změna hesla</h1>
    <div class="container emp-profile text-center">
        <div class="row">
            <form action="" class="col" id="change-password-form">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="form-control-label text-dark" for="old-password">Staré heslo</label>
                            <input type="password" id="old-password" class="form-control" required
                                placeholder="Vyplňte prosím toto povinné pole">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="form-control-label text-dark" for="new-password">Nové heslo</label>
                            <input type="password" id="new-password" class="form-control" required
                                placeholder="Vyplňte prosím toto povinné pole">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="form-control-label text-dark" for="new-password-repeat">Nové heslo znovu</label>
                            <input type="password" id="new-password-repeat" class="form-control" required
                                placeholder="Vyplňte prosím toto povinné pole">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-dark"
                            id="change-password-button">Editovat</button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col" id="change-password-status" style="display: none;"></div>
                </div>
            </form>
        </div>
    </div>
</main>
<%- include('./partials/scripts-file-end') %>
<script src="/js/select2.min.js"></script>
<script>
    function changePassword() {
        let oldPassword = $('#old-password').val()
        let password = $('#new-password').val()
        let passwordRepeat = $('#new-password-repeat').val()
        let alert = {
            dom: $('#change-password-status'),
            strongText: 'Vyhodnocuji',
            text: 'Vyčkejte prosím',
            status: 'info',
            icon: 'fas fa-circle-notch fa-spin',
            show: function() {
                this.dom
                .empty()
                .append(
                    $('<div>', { class: `alert alert-${this.status} alert-dismissible` }).append(
                        $('<i>', { class: this.icon, 'aria-hidden': 'true' }),
                        $('<a>', { href: '#', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close' }).html('&times;'),
                        $('<strong>').text(' ' + this.strongText),
                        ' ' + this.text
                    )
                )
                .show()
            }
        }
        alert.show()

        if (password === '') {
            alert.status = 'danger'
            alert.icon = 'fas fa-exclamation-triangle'
            alert.strongText = 'Ach ne!'
            alert.text = 'Heslo nemůže být prázdné'
            return alert.show().delay(3000).fadeOut('slow')
        } else if (password != passwordRepeat) {
            alert.status = 'danger'
            alert.icon = 'fas fa-exclamation-triangle'
            alert.strongText = 'Ach ne!'
            alert.text = 'Heslo musí být stejná'
            return alert.show().delay(3000).fadeOut('slow')
        } else if (password === oldPassword) {
            alert.status = 'danger'
            alert.icon = 'fas fa-exclamation-triangle'
            alert.strongText = 'Ach ne!'
            alert.text = 'Nové heslo se nesmí rovnat starému'
            return alert.show().delay(3000).fadeOut('slow')
        }

        API.user.updatePassword(oldPassword, password, passwordRepeat).then(function (responseFromServer) {
            if (responseFromServer.status === 'ok') {
                alert.status = 'success'
                alert.icon = 'fas fa-check'
                alert.strongText = 'Výborně!'
                alert.text = 'Vaše heslo bylo změněno'
                setTimeout(function() {
                    window.location.href = window.location.href
                }, 5555)
            } else if (responseFromServer.error === 'bad-old-password') {
                alert.status = 'danger'
                alert.icon = 'fas fa-exclamation-triangle'
                alert.strongText = 'Ouha!'
                alert.text = 'Staré heslo je špatně'
            } else {
                console.error(responseFromServer)
                alert.status = 'danger'
                alert.icon = 'fas fa-exclamation-triangle'
                alert.strongText = 'Ach ne!'
                alert.text = 'Vnitřní chyba serveru'
            }
            alert.show()
            alert.dom.delay(5000).fadeOut('slow')
        })
    }

    $(document).ready(() => {
        $('#change-password-button').click(changePassword)
        $('#edit-profile').click(function () {
            API.user
                .edit({
                    firstname: $('#firstname').val(),
                    middlename: $('#middlename').val(),
                    lastname: $('#lastname').val(),
                    email: $('#email').val()
                })
                .then(function (data) {
                    if (data.status === 'ok') {
                        $('div#edit-profile-status')
                            .empty()
                            .append(
                                $('<div>', { class: 'alert alert-success alert-dismissible' }).append(
                                    $('<a>', { href: '#', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close' }).html('&times;'),
                                    $('<strong>').text('Gratuluji!'),
                                    ' Úspěšně jste se upravil(a) svůj profil'
                                )
                            )
                            .show()
                        // Refresh the page
                        setTimeout(function () {
                            window.location.href = window.location.href;
                        }, 3500)
                    } else if (data.error === 'email-exists') {
                        $('div#edit-profile-status')
                            .empty()
                            .append(
                                $('<div>', { class: 'alert alert-danger alert-dismissible' }).append(
                                    $('<a>', { href: '#', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close' }).html('&times;'),
                                    $('<strong>').text('Ouha! '),
                                    'Tento email už používá někdo před tebou.'
                                )
                            )
                            .show()
                    } else {
                        $('div#edit-profile-status')
                            .empty()
                            .append(
                                $('<div>', { class: 'alert alert-danger alert-dismissible' }).append(
                                    $('<a>', { href: '#', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close' }).html('&times;'),
                                    $('<strong>').text('Ach ne! '),
                                    data.error
                                )
                            )
                            .show()
                    }
                })
            })
    })
</script>
<%- include('./partials/footer') %>
<%- include('./partials/file-end') %>
