<%- include('../partials/header') %>
<%- include('../partials/scripts') %>
</head>

<body class="min-vh-100 d-flex flex-column">
	<%- include('../partials/navbar') %>
	<div class="main-content d-flex flex-column flex-grow-1">
		<%- include('../partials/topbar') %>
		<%- include('./header', { active: 'list' }) %>
		<div class="container-fluid mt--7 flex-grow-1">
			<!-- Light table -->
			<div class="row">
				<div class="col">
					<div class="card">
						<!-- Card header -->
						<div class="card-header border-0">
							<h3 class="mb-0">Seznam</h3>
						</div>
						<div class="table-responsive">
							<table class="table w-100" id="users">
								<thead class="thead-light">
									<tr>
										<th scope="col" class="sort">ID</th>
										<th scope="col" class="sort">Příjmení</th>
										<th scope="col" class="sort">Křestní jméno</th>
										<th scope="col">Email</th>
										<th scope="col">Typ účtu</th>
										<th scope="col">Specializace</th>
										<th scope="col">OwnCloud ID</th>
										<th scope="col">Ročníky</th>
										<th scope="col">Akce</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
			<%- include('../partials/footer') %>
		</div>
	</div>
	<%- include('../partials/scripts-file-end') %>
	<%- include('../partials/datatables') %>
	<script>
		function deleteUserById(id) {
			Swal.fire({
				title: 'Opravdu chcete smazat tohoto uživatele?',
				text: 'Radši si to dvakrát rozmyslete.',
				icon: 'warning',
				timer: 5000,
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33'
			}).then((result) => {
				if(!result.value) {
					Swal.fire({
						title: 'Uživatel se nesmazal!',
						text: 'Jelikož jste tuto akci zrušil(a), tak se neprovedla.',
						icon: 'error'
					})
				} else {
					API.user
						.delete(id)
						.then(function (response) {
							if (response.status == 'ok') {
								return Swal.fire({
									title: 'Uživatel(ka) je smazán(a)!',
									text: 'Už ho / ji nikdy neuvidíme.',
									icon: 'success',
									timer: 5000
								}).then((value) => {
									location.reload()
								})
							}
							switch (response.error) {
								case 'user-is-in-teamwork':
									Swal.fire({
										title: 'Uživatel nebyl odstraněn!',
										text: 'Uživatele nelze odstranit dokud má přiřazenou minimálně jednu týmovou práci.',
										icon: 'error'
									})
									break

								default:
									console.error(response)
									Swal.fire({
										title: 'Něco se pokazilo!',
										text: response.error,
										icon: 'error'
									})
									break
							}
						})
					
				}
			})
		}

		$(document).ready(function () {
			API.user
				.list()
				.then((dataFromServer) => {
					$('table#users').DataTable({
						language: {
							url: '/js/dataTables/myCzech.json'
						},
						order: [[2, "desc"]],
						responsive: true,
						data: dataFromServer,
						columns: [
							{
								data: "_id",
								visible: false,
							}, {
								data: 'name.last',
							}, {
								data: 'name.first',
							}, {
								data: 'email',
							}, {
								data: 'years',
								fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
									let text = ''
									switch (oData.type) {
										case 'admin':
											text = 'Administrátor(ka)'
											break;

										case 'guarantor':
											text = 'Garant(ka)'
											break;

										case 'consultant':
											text = 'Konzultant(ka)'
											break;

										default:
											text = 'Student(ka)'
											break;
									}
									$(nTd).html(text)
								}
							}, {
								data: 'name',
								fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
									if (oData.specialization != undefined || oData.specialization != null) {
										$(nTd).html(oData.specialization.name)
									} else {
										if (oData.type == 'student') {
											$(nTd).parent().addClass('bg-gradient-danger text-white')
										}
										$(nTd).html('')
									}
								}
							}, {
								data: 'ownCloudId',
								fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
									if (oData.ownCloudId == undefined) {
										$(nTd).parent().addClass('bg-gradient-danger text-white')
										$(nTd).html('Chybí')
									} else {
										$(nTd).html(oData.ownCloudId)
									}
								}
							}, {
								data: 'years',
								fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
									$(nTd).html('')
									for (let i = 0; i < oData.years.length; i++) {
										let badgeColor = 'default'
										if (oData.years[i].permissions.includes('edit')) {
											badgeColor = 'primary'
										} else if (oData.years[i].permissions.includes('read')) {
											badgeColor = 'info'
										}
										if (oData.years[i].year != undefined || oData.years[i].year != null) {
											$('<a>', { href: '/admin/years/edit/' + oData.years[i].year._id, class: ('badge badge-pill badge-' + badgeColor) })
												.text(oData.years[i].year.name)
												.appendTo($(nTd))
										}
									}
									if (oData.years.length == 0) {
										$(nTd).parent().addClass('bg-gradient-danger text-white')
									}
								}
							}, {
								data: '_id',
								fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
									$(nTd).html(
										$("<div>", { class: "row m-auto justify-content-around" }).append(
											$("<a>", { href: `/admin/users/edit/${oData._id}`, style: "background: none; border: none; padding: 0; " }).append(
												$("<i>", { class: "fas fa-pen text-primary" }),
											),
											$('<button>', {
												onclick: `deleteUserById('${oData._id}');`,
												style: "background: none; border: none; padding: 0; "
											}).append(
												$('<i>', { class: "fas fa-trash text-danger" }),
											),
										),
									);
								}
							}
						],
					})
				})
		})
	</script>
	<%- include('../partials/file-end') %>
